--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# UI & Core Data
streamlit
pandas

# LangChain & Graph Orchestration
langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-experimental
langgraph

# RAG Vector Store
faiss-cpu
sentence-transformers

# Geospatial Libraries
folium
plotly
geopandas
cartopy
osmnx
basemap
basemap-data
keplergl
ipyleaflet
